<%= c 'banner', image_url: asset_pack_path('media/static/background.jpg') do %>
  <div class="intro">
    <h1>T<span>he</span> C<span>reator</span> P<span>latform</span></h1>
    <%= link_to omniauth_authorize_path(:influencer, "facebook") do %>
      <%= c 'button' do %>
        Start Now
      <% end %>
    <% end %>
  </div>
  <div>
    <%= image_pack_tag('media/static/post.jpg') %>
  </div>
<% end %>
