# FOO
foo/.bundle
foo/log/*.log
foo/tmp/**/*
foo/tmp/*
foo/!log/.keep
foo/!tmp/.keep
foo/*.swp
foo/.DS_Store
foo/public/assets
foo/public/packs
foo/public/packs-test
foo/node_modules
foo/yarn-error.log
foo/.byebug_history
foo/config/master.key

# BOO
boo/.bundle
boo/log/*.log
boo/tmp/**/*
boo/tmp/*
boo/!log/.keep
boo/!tmp/.keep
boo/*.swp
boo/.DS_Store
boo/public/assets
boo/public/packs
boo/public/packs-test
boo/node_modules
boo/yarn-error.log
boo/.byebug_history
boo/config/master.key
