@import '../../config/index.scss';

.button {
  border-radius: 0.4rem;
  height: 5rem;
  padding: 1.2rem 1.6rem;
  font-size: 1.4rem;
  font-family: $headerFont;
  outline: none;
  width: 100%;
  transition: all .3s ease;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $mainCtaColor;
  color: white;
  text-transform: uppercase;
  &:hover {
    background-color: lighten($mainCtaColor, 5%);
  }
}
.button.secondary {
  background-color: $secondCtaColor;
  font-size: 0.6em;
  width: fit-content;
  &:hover {
    background-color: lighten($secondCtaColor, 5%);
  }

}
