@import '../../config/index.scss';

.flash {
  z-index: 999;
  position: absolute;
  top: 6rem;
  right: 6rem;
  color: white;
  transition: all 0.3s ease;
  padding: 2rem;
  border-radius: 0.4rem;
  text-transform: uppercase;
  font-family:  $headerFont;
  @media (max-width: $screen-sm) {
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    text-align: center;
    border-radius: 0;
  }
}

.flash-notice {
  background-color: $secondCtaColor;
}

.flash-alert {
  background-color: $mainCtaColor;
}
