<div class="campaign js-campaign">
  <div class="campaign-banner" style="background-image: url(<%= campaign.banner_picture_url %>)"></div>
  <div class="campaign-footer">
    <h2><%= campaign.hashtag %><span></span></h2>
    <%= c 'button' do %>
      Apply
    <% end %>
  </div>
</div>
