<div class="header js-header">
  <div>
    <%= link_to root_path do %>
      <%= image_pack_tag('media/static/sneakers.png') %>
    <% end %>
    <%= link_to root_path do %>
      <h1>FOÔ<span></span></h1>
    <% end %>
    <%= link_to "> sign off", destroy_consumer_session_path, method: :delete %>
  </div>
</div>
