@import '../../config/index.scss';

.header {
  height: 4rem;
  background-color: $backgroundColor;
  border-bottom: 1px solid $fontColor;
  > div {
    margin: 0 auto;
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      font-size: 1em;
    };
    img {
      height: 3rem;
    }
  }
}
