@import '../../config/index.scss';

.wrapper {
  background-color: $backgroundColor;
  margin-top: 6rem;
  padding-top: 6rem;
  &-container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
