@import '../../config/index.scss';

.campaign {
  min-width: 24rem;
  flex: 0 0 30%;
  margin-bottom: 3rem;
  background-color: white;
  &-banner {
    background-size: cover;
    background-position: center;
    height: 24rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .button {
      visibility: hidden;
      width: fit-content;
      opacity: 0;
      transition: all .3s ease;
    }
    &:hover {
      .button {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  &-footer {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    color: $brandColor;
    font-weight: bold;
    > div:first-child {
      flex: 1;
    }
    &-participants {
      display: flex;
      align-items: center;
      .avatar {
        height: 2rem;
        width: 2rem;
        min-width: 2rem;
        border: 1px solid $mainCtaColor;
        margin-right: -0.5rem;
        cursor: pointer;
      }
    }
  }
}
